{% extends "layout.html" %}

{% block page_title %}WikiSearch - Home{% endblock %}

{% block main_content %}
<div class="container results-page">
    <header class="app-header results-header">
        <div class="logo"></div>
        <h1>WikiSearch</h1>
    </header>
    
    <form action="/flask_app" method="get" class="search-form-wrapper" id="searchForm">
        <div class="search-form">
            <input type="text" name="fraze" id="fraze" placeholder="Enter phrase" value="{{ title if title else '' }}" />
            <button type="submit">Search</button>
        </div>
        <input type="hidden" name="num_results" id="hiddenNumResults" value="{{ current_num_results }}">
    </form>
    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}
</div>
{% endblock %}